@import '~office-ui-fabric-react/dist/sass/References.scss';

.fpsImages {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  .accordian1{
    position:relative;
    left: 4%;
    width: 1400px;
    // height: 253px;
    height: 270px;
    overflow:hidden;
      margin: 10px ;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0px 8px 6px -6px black;
  }
  .accordian1 ul{
    //
  }
  .accordian1 li{
    position: relative;
    display:block;
    width: 75px;
    float: left;
    
    border-left: 1px solid #888;
    -webkit-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }

  .accordian1 ul:hover li{
    width: 75px;
  }

  .accordian1 ul li:hover{
    width:250px;
  }

  .accordian1 li img{
    display: block;
  }

  .image_title{
    background: rgba(0,0,0,0.5);
    position:absolute;
    left:0;
    bottom:0;
    width:150px;
  }

  .image_title a{
    position:relative;
    left:15px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding:10px;
    font-size:14px;
  }
  .ms-rtestate-field p>img,.ms-rte-write,.ms-rtestate-field>img,.ms-rtestate-field a>img,[id$=RichImageField] img{max-width:inherit;width:inherit;height:inherit;float:inherit}

}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}